modules = ["python-3.11", "bash"]

[nix]
channel = "stable-24_05"
packages = ["firefox", "geckodriver", "glibcLocales", "libxcrypt"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Testar Sistema"
author = 43711956
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python testar_sistema_completo.py"

